<header id="header" class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-content">
                <a href="/" class="logo"><img src="/images/site/logo.png" alt="VSPN"></a>
                <div class="call">
                    <strong>+7 (000) 00-00-00</strong>
                    <a href="tel:+7000000000"><i class="icon-phone"></i><span>Заказать звонок</span></a>
                </div>
                <form action="#" class="search">
                    <fieldset>
                        <input type="text" placeholder="Поиск" />
                        <button type="submit"><i class="icon-search"></i></button>
                    </fieldset>
                </form>
                <!--<div class="enter">-->
                    <!--<a href="#">Войти</a>-->
                <!--</div>-->

                <div class="basket-box">
   <!--                 <a href="javascript:void(0)" data-dropdown="dropdown-shop-cart" class="basket shop-cart dropbtn">
                        <i>
                            <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_cart"></use> </svg>
                            <span class="selReN"><span></span> руб.</span>
                        </i>

                        <p>Корзина</p>
                    </a>

                    <div id="dropdown-shop-cart" class="dropdown__content">
                        <div class="angle"></div>
                        <p class="title">Корзина</p>
                        <div class="basketCont" id="basketCont"><p>Корзина пуста</p></div>

                        <div class="">
                            <div class="basket_dropdown_btn hidden">
                                <div style="width: 49%; display: inline-table;">
                                    <p>Итог:</p>
                                    <span></span>
                                </div>
                                <div style="width: 50%; display: inline-table;">
                                    <button type="button" class="btn btn-danger" onclick="href('/shop/basket')">
                                        Перейти в корзину
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <a href="/cart" class="basket">
                        <i>
                            <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_cart"></use> </svg>
                            <span class="selReN"><span></span> руб.</span>
                        </i>
                        <p>Корзина</p>
                    </a>
                    <div class="checkout-preview">
                        <div class="catalog__main">
                            <table>
                                <tr>
                                    <td><h5>Старый кирпич</h5></td>
                                    <td>1 шт.</td>
                                    <td>30 000 руб.</td>
                                    <td>
                                        <a href="#" class="item__remove">
                                            <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_waste"/> </svg>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h5>Старый кирпич</h5></td>
                                    <td>1 шт.</td>
                                    <td>14 000 руб.</td>
                                    <td>
                                        <a href="#" class="item__remove">
                                            <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_waste"/> </svg>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <p class="total"><span>Итог:</span> 2 товара на сумму 34 000 руб </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="nav">
        <div class="container">
            <div class="nav-menu">
                <ul class="nav-menu__list">
                    {{# forget menuTop '0' }}
                        {{#iff cat '==' 0 }}
                            <li>
                                <a href="/catalog/{{ ../id }}">{{ ../name }}</a>
                                <div class="drop">
                                    <div class="container">
                                        <ul>
                                            {{# forget ../../menuTop ../id }}
                                                <li>
                                                    <a href="/catalog/{{ ../../id }}?cat={{ id }}">
                                                        <img src="/images/site/menu/menu01.png" alt="menu">
                                                        {{ name }}
                                                    </a>
                                                </li>
                                            {{/forget}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {{/iff}}
                    {{/ forget }}
                    <li class="more">
                        <span><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_more"></use> </svg></span>
                        <div class="drop">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="/images/site/menu/menu02.png" alt="menu">
                                            Формы для панно
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>