<header id="header" class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-content">
                <a href="/" class="logo"><img src="/images/site/logo.png" alt="VSPN"></a>
                <div class="call">
                    <strong>+7 (000) 00-00-00</strong>
                    <a href="tel:+7000000000"><i class="icon-phone"></i><span>Заказать звонок</span></a>
                </div>
                <form action="#" class="search">
                    <fieldset>
                        <input type="text" placeholder="Поиск" />
                        <button type="submit"><i class="icon-search"></i></button>
                    </fieldset>
                </form>
                <!--<div class="enter">-->
                    <!--<a href="#">Войти</a>-->
                <!--</div>-->

                <div class="basket-box">
                    <a href="/cart" class="basket shop-cart">
                        <i>
                            <svg> <use xlink:href="/images/site/svg/sprite.svg#icon_cart"></use> </svg>
                            <span class="selReN"><span></span> &#8381;</span>
                        </i>
                        <p>Корзина</p>
                    </a>
                    <div class="checkout-preview" id="basket">
                        <div class="catalog__main">
                            <table id="basketCont"></table>
                            <p class="total result-calc"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="nav">
        <div class="container">
            <div class="nav-menu">
                <ul class="nav-menu__list">
                    {{# forget menuTop '0' }}
                        {{#iff cat '==' 0 }}
                            <li>
                                <a href="/catalog/{{ ../id }}">{{ ../name }}</a>
                                <div class="drop">
                                    <div class="container">
                                        <ul>
                                            {{# forget ../../menuTop ../id }}
                                                <li>
                                                    <a href="/catalog/{{ ../../id }}?cat={{ id }}">
                                                        <img src="/images/site/menu/menu01.png" alt="menu">
                                                        {{ name }}
                                                    </a>
                                                </li>
                                            {{/forget}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {{/iff}}
                    {{/ forget }}
                    <li class="more">
                        <span><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_more"></use> </svg></span>
                        <div class="drop">
                            <div class="container">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="/images/site/menu/menu02.png" alt="menu">
                                            Формы для панно
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>