<div class="con">
    <div class="wrapper border-bottom white-bg page-heading">
        <div class="col col-md-12">
            <h4>{{# if id}}Редактирование товара{{ else }}Добавление товара{{/if}}</h4>
        </div>

        <div class="ibox-content">
            <form method="post" class="form-modules form-horizontal form-label-left" id="form-products">
                {{#each plugins as |v| }}
                    {{{ v.html_top }}}
                    {{{ v.html }}}
                    {{{ v.html_bottom }}}

                    {{# iff v.plugins.name '==' 'album' }}
                        <script>
                            $.ajax({
                                type: "post",
                                url: "/admin/file_manager/show_loader",
                                data: {
                                    name_table : '{{ ../../table }}',
                                    id_album   : '{{ ../../id }}'
                                },
                                cache: false,
                                dataType: "html",
                                success: function (data) {
                                    $('#album').html(data);
                                }
                            })
                        </script>
                    {{/iff}}

                    {{# iff v.plugins.name '==' 'characteristics' }}
                        <script>
                            $.ajax({
                                type: "post",
                                url: "/admin/components/show_loader_characteristics",
                                data: {
                                    name_table : '{{ ../../table }}',
                                    id_album   : '{{ ../../id }}'
                                },
                                cache: false,
                                dataType: "html",
                                success: function (data) {
                                    $('#characteristics').html(data);
                                }
                            })
                        </script>
                    {{/iff}}
                {{/each}}

                <div class="text-right bottom-panel">
                    <div class="loader"></div>

                    <button
                            class="btn btn-success btn-sm"
                            onclick="$.adm.saveProduct('#form-products', {{ id }})"
                            type="button"
                    >Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/lodash.min.js"></script>
<script>
    function loadProduct() {
        var plugins = {{{ pluginsStr }}};
        var pluginsLang = {{{ pluginsLangStr }}};

        function ucfirst(str) {
            var f = str.charAt(0).toUpperCase();
            return f + str.substr(1, str.length - 1);
        }

        $.ajax({
            cache: false,
            url: '/admin/_tools/getDataSingle',
            data: {id: '{{ id }}', table: '{{ table }}'},
            type: 'post',
            dataType: 'JSON',
            success: function(data) {
                var text, body = data.data || {};

                if(_.isEmpty(body))
                    return false;

                _.map(pluginsLang, (v, k) => {
                    text = _.unescape(body[k]);

                    try {
                        text = JSON.parse(text);
                        if(text) {
                            $('[name="pl[' + k + '][ru]"]').val(_.unescape(text.ru));
                            $('[name="pl[' + k + '][en]"]').val(_.unescape(text.en));
                        }
                    } catch(err) {
                        // обработка ошибки
                    }
                });

                _.map(plugins, (v, k) => {
                    text = body[k];

                    if((v.plugins || {}).typeField === 'select' && text) {
                        $('#select' + ucfirst(k)).val(text ? text : 0).trigger("change");
                    } else {
                        $('[name="pl[' + k + ']"]').val(_.unescape(text));
                    }
                });
            }
        });
    }

    loadProduct();
</script>