{{!< ../../admin/layout}}

<div class="con">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h2>Все товары</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Рабочий стол</a></li>
                <li class="breadcrumb-item  active"><strong>Главный список</strong></li>
            </ol>
        </div>

        <div class="">
            <div class="form-group" style="margin: 15px 0">
                <div class="input-group">
                    <div class="col col-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <span class="input-group-addon" style="width: 100%">Отображения товара для: </span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <select onchange="window.location.href = this.value" id="select1" class="select2" autocomplete="off">
                                        <option value="/admin/index/products?cat={{ current_category }}" {{#iff usertype '==' '' }}selected{{/iff}}>
                                            Все
                                        </option>
                                        {{# each sellers }}
                                            <option value="/admin/index/products?cat={{ ../current_category }}&user={{ id }}" {{#iff id '==' ../current_user }}selected{{/iff}}>
                                                {{ name }}
                                            </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <span class="input-group-addon" style="width: 100%">Категория: </span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <select onchange="window.location.href = this.value" id="select1" class="select2" autocomplete="off">
                                        <option value="/admin/index/products?user={{ current_user }}" {{#iff usertype '==' '' }}selected{{/iff}}>
                                            Все
                                        </option>
                                        {{{ categories }}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-2 text-right">
                        {{# if module.x }}
                            <a data-id="" href="javascript:void(0)" data-table="products" class="edit-link btn btn-primary">
                                <i class="fa fa-plus"></i>
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="panel-tools">
                <button class="btn active" type="button" data-type="grid"><i class="fa fa-th-large"></i></button>
                <button class="btn" type="button" data-type="list"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
            </div>

            {{# each data }}
                <div class="list-dr grid" id="products-{{ id }}">
                    <div class="top-fixed">
                        <a href="javascript:void(0)" onclick="$.adm.rowDelete({{ id }}, '\'products\'')">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>

                    <div class="edit-link" data-table="products" data-id="{{ id }}">
                        <div class="row">
                            <div class="col col-4 left">
                                <div class="thumbnail-old">
                                    {{# if file }}
                                        {{# if crop }}
                                            <img src="/images/files/small/{{ crop }}" />
                                        {{ else }}
                                            <img src="/images/files/small/{{ file }}" />
                                        {{/if}}
                                    {{ else }}
                                        <img src="/images/no_img.png" />
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col col-8 right">
                                <a href="javascript:void(0)" data-table="products">
                                    {{ name }}
                                </a>
                                <div>Цена: {{ price }}</div>
                                <div>Артикул: {{# if vendor_code }}#{{ vendor_code }}{{ else }}#{{ id }}{{/if}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <a target="_blank" href="/product/{{ id }}"><i class="glyphicon glyphicon-share"></i></a>
                    </div>
                </div>
            {{ else }}
                <div class="alert alert-info text-center">Нет товара</d>
            {{/ each }}
        </div>

        <div class="pagination-block">{{{ paginate }}}</div>
    </div>
</div>

<script>
    $('.panel-tools > button').click(function() {
        if($(this).data('type') === 'grid') $('.list-dr').removeClass().addClass('list-dr edit-link grid');
        if($(this).data('type') === 'list') $('.list-dr').removeClass().addClass('list-dr edit-link list');

        $('.panel-tools > button').removeClass('active');
        $(this).addClass('active');
    })
</script>