<div class="con">
    <div class="wrapper border-bottom white-bg page-heading">
        <div class="col col-md-12">
            <h4>{{# if id}}Детальный просмотр{{ else }}Новая заявка{{/if}}</h4>
        </div>

        <div class="ibox-content">
            <form method="post" class="form-modules form-horizontal form-label-left" id="form-issues">
                {{#each plugins as |v| }}
                    {{{ v.html_top }}}
                    {{{ v.html }}}
                    {{{ v.html_bottom }}}
                {{/each}}

                <input type="hidden" name="id" value="{{ id }}"/>
            </form>
        </div>
    </div>
</div>

<script>
    function loadIssues() {
        var plugins = {{{ pluginsStr }}};
        var pluginsLang = {{{ pluginsLangStr }}};

        function ucfirst(str) {
            var f = str.charAt(0).toUpperCase();
            return f + str.substr(1, str.length - 1);
        }

        $.ajax({
            cache: false,
            url: '/admin/load-update/issues_json/{{ id }}',
            data: {table: '{{ table }}'},
            type: 'post',
            dataType: 'JSON',
            success: function(data) {
                var text, body = data.data || {};

                if(_.isEmpty(body))
                    return false;

                _.map(pluginsLang, (v, k) => {
                    text = _.unescape(body[k]);

                    try {
                        text = JSON.parse(text);
                        if(text) {
                            $('[name="pl[' + k + '][ru]"]').val(_.unescape(text.ru));
                            $('[name="pl[' + k + '][en]"]').val(_.unescape(text.en));
                        }
                    } catch(err) {
                        // обработка ошибки
                    }
                });

                _.map(plugins, (v, k) => {
                    text = body[k];

                    if((v.plugins || {}).typeField === 'select' && text !== 'NaN') {
                        if((v.plugins || {}).name === 'status') {
                            $(".select2-status").select2({width: '100%'});
                            $('#select' + ucfirst(k)).val(text ? text : 0).trigger("change");
                        } else {
                            $(".select2").select2({width: '100%'});
                            $('#select' + ucfirst(k)).val(text ? text : 0).trigger("change");
                        }
                    } else {
                        $('[name="pl[' + k + ']"]').val(_.unescape(text));
                    }
                });
            }
        });
    }

    loadIssues();
</script>