<div class="con">
    <div class="wrapper border-bottom white-bg page-heading">
        <div class="col col-md-12">
            <h4>{{# if id}}Детальный просмотр{{ else }}Новая заявка{{/if}}</h4>
        </div>

        <div class="ibox-content">
            <form method="post" class="form-modules form-horizontal form-label-left" id="form-issues">
                {{#each plugins as |v| }}
                    {{{ v.html_top }}}
                    {{{ v.html }}}
                    {{{ v.html_bottom }}}
                {{/each}}

                <input type="hidden" name="id" value="{{ id }}"/>
            </form>
        </div>

        <label>История статусов</label>
        <div id="statuses"></div>
    </div>
</div>

<style>
    .form-group {
        margin: 0;
    }

    .form-group > label {
        margin: 0;
        color: #585858;
    }

    .form-group > div {
        margin-bottom: -15px;
    }

    .form-group input,
    .form-group textarea {
        border-color: #fff;
        padding: 3px;
        display: unset;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        padding: 0.5rem 0.75rem;
    }
</style>

<script>
    function loadIssues() {
        var plugins = {{{ pluginsStr }}};
        var pluginsLang = {{{ pluginsLangStr }}};

        function ucfirst(str) {
            var f = str.charAt(0).toUpperCase();
            return f + str.substr(1, str.length - 1);
        }

        $.ajax({
            cache: false,
            url: '/admin/load-update/issues_json/{{ id }}',
            data: {table: '{{ table }}'},
            type: 'post',
            dataType: 'JSON',
            success: function(data) {
                let
                    text,
                    type = ['Новая заявка', 'Нет в наличии', 'В отправке', 'В наличии', 'Заказ отправлен', 'Доставлено'],
                    body = data.data || {};

                if(_.isEmpty(body))
                    return false;

                _.map(pluginsLang, (v, k) => {
                    text = _.unescape(body[k]);

                    try {
                        text = JSON.parse(text);
                        if(text) {
                            $('[name="pl[' + k + '][ru]"]').val(_.unescape(text.ru));
                            $('[name="pl[' + k + '][en]"]').val(_.unescape(text.en));
                        }
                    } catch(err) {
                        // обработка ошибки
                    }
                });

                _.map(plugins, (v, k) => {
                    text = body[k];

                    if((v.plugins || {}).typeField === 'select' && text !== 'NaN') {
                        if((v.plugins || {}).name === 'status') {
                            $(".select2-status").select2({width: '100%'});
                            $('#select' + ucfirst(k)).val(text ? text : 0).trigger("change");
                        } else {
                            $(".select2").select2({width: '100%'});
                            $('#select' + ucfirst(k)).val(text ? text : 0).trigger("change");
                        }
                    } else {
                        $('[name="pl[' + k + ']"]').val(_.unescape(text));
                    }
                });

                _.map(data.statuses, v => {
                    $('#statuses').append('<li>Статус: ' + type[v.status] + ' Дата: ' + v.created_at + '</li>')
                });
            }
        });
    }

    loadIssues();
</script>