<div class="con">
    <div class="wrapper border-bottom white-bg page-heading">
        <div class="col col-md-12">
            <h4>{{# if id}}Детальный просмотр{{ else }}Новая заявка{{/if}}</h4>
        </div>

        <div class="ibox-content">
            <form method="post" class="form-modules form-horizontal form-label-left" id="form-issues">
                {{#each plugins as |v| }}
                    {{{ v.html_top }}}
                    {{{ v.html }}}
                    {{{ v.html_bottom }}}
                {{/each}}

                <input type="hidden" name="id" value="{{ id }}"/>
            </form>
        </div>

        <label class="alert alert-light">История статусов</label>
        <div id="statuses"></div>

        <label class="alert alert-light">Товары</label>
        <div id="ordering"></div>
    </div>
</div>

<style>
    .form-group {
        margin: 0;
    }

    .form-group > label {
        margin: 0;
        color: #585858;
    }

    .form-group > div {
        margin-bottom: -15px;
    }

    .form-group input,
    .form-group textarea {
        border-color: #fff;
        padding: 3px;
        display: unset;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        padding: 0.5rem 0.75rem;
    }

    .list-dr {
        list-style: none;
    }
</style>

<script type="text/javascript" src="/js/admin/issues.js"></script>
<script>
    issues.initialize({params: [
        ['plugins', {{{ pluginsStr }}}],
        ['plugins-lang', {{{ pluginsLangStr }}}],
        ['table', {{ table }}],
        ['id', {{ id }}],
    ]})
</script>