{{!< ../layout}}
<div id="main">
    <div class="container full">
        <section class="grid">
            <header>
                <h1>Сеты товаров</h1>
            </header>
            <style>
                .layout__block {
                    float: left;
                }
                .layout__block__small {
                    width: 30%;
                }
                .layout__block__small .grid__link {
                    padding-top: 66.666666667% !important;
                }
                .layout__block__big {
                    width: 40%;
                }
            </style>
            <div class="grid__content">
                <div class="layout">
                    {{# each main_page as |v k| }}
                    <div class="layout__block {{# iff v.length '==' 2}} layout__block__small {{ else }}layout__block__big {{/iff}}">
                            {{# each v as |vv kk| }}
                                {{# each vv as |vvv kkk| }}
                                    <div class="grid__item fig_bigk {{get ../../../main_page_key kkk }} valign-top">
                                        <div class="grid__link">
                                            <a href="{{ vvv.link }}" style="background-image: url('{{ vvv.img }}')">
                                                <h3>{{ vvv.text }}</h3>
                                            </a>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/each}}
                        </div>
                    {{/each}}
                </div>

     <!--           <div class="layout">
                    <div class="grid__item fig_rect fig_big color-white">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-image: url('/images/site/grid/pic02.png')">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-image: url('/images/site/grid/pic03.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big color-white">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-image: url('/images/site/grid/pic04.png')">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-image: url('/images/site/grid/pic05.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-color: #adaeaf">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-color: #adaeaf">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item block-right fig_square fig_big halign-center">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-image: url('/images/site/grid/pic06.png')">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_rect fig_big">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-color: #adaeaf">
                                <h3>Плитка <br>тротуарная</h3>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item fig_square fig_small">
                        <div class="grid__link">
                            <a href="/catalog/1?subcategory=20" style="background-color: #adaeaf">
                                <h3>Плитка тротуарная</h3>
                            </a>
                        </div>
                    </div>

                </div>-->
            </div>
        </section>
    </div>
</div>