{{!< ../layout}}
<div id="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="home"><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_home"></use> </svg></a>
            {{# each menu as |v| }}
                {{# iff ../product.cat '==' v.id }}
                    {{# iff v.cat '==' '0' }}
                        <a href="/catalog/{{ v.id }}">{{ v.name }}</a>
                    {{ else }}
                        <a href="/catalog/{{ v.id }}">{{ v.name }}</a>

                        {{# each ../../menu as |val| }}
                            {{# iff v.cat '==' val.id }}<span>{{ val.name }}</span>{{/iff}}
                        {{/ each }}
                    {{/iff}}
                {{/iff}}
            {{/ each }}

            <span>{{ product.name }}</span>
        </div>
        <section class="product">
            <header class="layout product-{{ product.id }}" data-animations="false">
                <div class="product__gallery">
                    <div class="gallery-box" id="gallery">
                        <div class="gallery-main">
                            <button class="next"><i class="icon-chevron-thin-right"></i></button>
                            <button class="prev"><i class="icon-chevron-thin-left"></i></button>
                            <figure data-item="1" class="current" style="background-image: url('/images/site/gallery/temp-gallery-01.jpg')"></figure>
                        </div>
                        <div class="gallery-list">
                            <ul>
                                <li>
                                    <div>
                                        <figure class="current" data-item="1" style="background-image: url('/images/site/gallery/temp-gallery-02.jpg')"></figure>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <figure data-item="2" style="background-image: url('/images/site/gallery/temp-gallery-03.jpg')"></figure>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <figure data-item="3" style="background-image: url('/images/site/gallery/temp-gallery-04.jpg')"></figure>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <figure data-item="4" style="background-image: url('/images/site/gallery/temp-gallery-05.jpg')"></figure>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product__characters">
                    <h1>{{ product.name }}</h1>
                    <dl>
                        <dt>Размер формы:</dt>
                        <dd>54x52x2,5 см</dd>
                    </dl>
                    <dl>
                        <dt>Выход камня:</dt>
                        <dd>0,2 м2</dd>
                    </dl>
                    <dl>
                        <dt>Размер камня:</dt>
                        <dd>23б5ч6 см - 14 шт</dd>
                    </dl>
                    <dl>
                        <dt>Тощина камня:</dt>
                        <dd>1-1,5 см</dd>
                    </dl>
                    <dl>
                        <dt>Вес формы</dt>
                        <dd>5 кг</dd>
                    </dl>
                    <div class="price">
                        <strong>{{ product.price_current }} &#8381;</strong>
                        {{# if product.discount }}<span class="discount">Со скидкой {{ product.discount }}%</span>{{/if}}
                    </div>
                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus" onclick="filCat.sumQuantity('{{ product.id }}', 'minus')">
                                <i class="icon-minus"></i>
                            </button>
                            <span class="quantity">10</span>
                            <button class="plus" onclick="filCat.sumQuantity('{{ product.id }}', 'plus')">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" onclick="filCat.addToCart('{{ product.id }}', 'add')">В корзину</a>
                    </div>
                </div>
            </header>
            <div class="product__tabs">
                <nav>
                    <span class="tab current" data-tab="tab-1">Описание</span>
                    <span class="tab" data-tab="tab-2">Характеристика</span>
                    <span class="tab" data-tab="tab-3">Отзывы</span>
                    <span class="tab" data-tab="tab-4">Обзоры</span>
                </nav>

                <div class="product__tabs_main current" data-tab="tab-1">
                    <div class="text-box">{{ product.text }}</div>
                </div>
                <div class="product__tabs_main" data-tab="tab-2"><div class="text-box">Характеристика</div></div>
                <div class="product__tabs_main" data-tab="tab-3"><div class="text-box">Отзывы</div></div>
                <div class="product__tabs_main" data-tab="tab-4"><div class="text-box">Обзоры</div></div>
            </div>
        </section>
        <section class="catalog preview">
            <header>
                <h3>С этим товаром покупают</h3>
            </header>
            <div class="catalog__content layout">
                <div class="catalog__main">
                    <ul>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item01.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item02.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <a href="#" class="item__description">
                                    <div class="item__img">
                                        <div class="_mn" style="background-image: url('/images/site/items/item03.png')"></div>
                                        <div class="_hv" style="background-image: url('/images/site/items/item04.png')"></div>
                                    </div>
                                    <div class="item__head">
                                        <h5>Старый кирпич</h5>
                                    </div>
                                    <div class="price">
                                        <span class="new">1 500 &#8381;</span>
                                        <span class="old">3 000 &#8381;</span>
                                    </div>
                                </a>
                                <div class="spinner">
                                    <div class="spinner__counts">
                                        <button class="minus"><i class="icon-minus"></i></button>
                                        <span>10</span>
                                        <button class="plus"><i class="icon-plus"></i></button>
                                    </div>
                                    <a href="#">В корзину</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

{{#contentFor "footer"}}
    <!-- filters-categories -->
    <script src="/js/site/filters-categories.js"></script>
    <script>
        $(document).ready(function(){
            filCat.initialize({
                cont      : '.selResult',
                isLoadCat : false,
                num       : '.selReN > .i',
                pagination: true,
                url_req   : '/',
            });

            setTimeout(filCat.selectCatalogs(), 0);
        });
    </script>
    <script type="text/javascript" src="/js/site/gallery.js"></script>
{{/contentFor}}