{{!< ../layout}}
<div id="main">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="home"><svg> <use xlink:href="/images/site/svg/sprite.svg#icon_home"></use> </svg></a>
            {{# each menu as |v| }}
                {{# iff ../product.cat '==' v.id }}
                    {{# iff v.cat '==' '0' }}
                        <a href="/catalog/{{ v.id }}">{{ v.name }}</a>
                    {{ else }}
                        <a href="/catalog/{{ v.id }}">{{ v.name }}</a>

                        {{# each ../../menu as |val| }}
                            {{# iff v.cat '==' val.id }}<span>{{ val.name }}</span>{{/iff}}
                        {{/ each }}
                    {{/iff}}
                {{/iff}}
            {{/ each }}

            <span>{{ product.name }}</span>
        </div>
        <section class="product">
            <header class="layout product-{{ product.id }}" data-animations="false">
                <div class="product__gallery">
                    <div class="gallery-box" id="gallery">
                        <div class="gallery-main">
                            <button class="next"><i class="icon-chevron-thin-right"></i></button>
                            <button class="prev"><i class="icon-chevron-thin-left"></i></button>
                            <figure

                                    class="current"
                                    style="background-image: url('/images/files/small/{{ files.0.file }}')"
                            ></figure>
                        </div>
                        <div class="gallery-list">
                            <ul>
                                {{# each files as |v k| }}
                                    <li>
                                        <div>
                                            <figure
                                                    class="{{# iff k '==' '0' }}current{{/iff}}"
                                                    data-item="{{ k }}"
                                                    style="background-image: url('/images/files/big/{{ v.file }}')"
                                            ></figure>
                                        </div>
                                    </li>
                                {{/ each }}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product__characters">
                    <h1>{{ product.name }}</h1>

                    <div class="cha-s">
                        <div class="cont"></div>
                    </div>

                    <div class="price">
                        <strong>{{ product.price_current }} &#8381;</strong>
                        {{# if product.discount }}<span class="discount">Со скидкой {{ product.discount }}%</span>{{/if}}
                    </div>

                    <div class="spinner">
                        <div class="spinner__counts">
                            <button class="minus" onclick="filCat.sumQuantity('{{ product.id }}', 'minus')">
                                <i class="icon-minus"></i>
                            </button>
                            <span class="quantity">1</span>
                            <button class="plus" onclick="filCat.sumQuantity('{{ product.id }}', 'plus')">
                                <i class="icon-plus"></i>
                            </button>
                        </div>
                        <a href="javascript:void(0)" onclick="filCat.addToCart('{{ product.id }}', 'add')">В корзину</a>
                    </div>
                </div>
            </header>
            <div class="product__tabs">
                <nav>
                    <span class="tab current" data-tab="tab-1">Описание</span>
                    <span class="tab" data-tab="tab-2">Характеристика</span>
                    <span class="tab" data-tab="tab-3">Отзывы</span>
                    <span class="tab" data-tab="tab-4">Обзоры</span>
                </nav>

                <div class="product__tabs_main current" data-tab="tab-1">
                    <div class="text-box">{{{ product.text }}}</div>
                </div>

                <div class="product__tabs_main" data-tab="tab-2">
                    <div class="text-box"><div class="cha-s"><div class="cont"></div></div></div>
                </div>

                <div class="product__tabs_main" data-tab="tab-3"><div class="text-box">Отзывы</div></div>
                <div class="product__tabs_main" data-tab="tab-4"><div class="text-box">{{{ product.reviews }}}</div></div>
            </div>
        </section>

        <section class="catalog preview">
            <header>
                <h3>С этим товаром покупают</h3>
            </header>
            {{> site/block/theirsProductBuy }}
        </section>
    </div>
</div>

{{#contentFor "footer"}}
    <!-- filters-categories -->
    <script src="/js/site/filters-categories.js"></script>
    <script>
        $(document).ready(function(){
            filCat.initialize({
                cont      : '.basketCont',
                isLoadCat : false,
                num       : '.selReN',
                pagination: true,
                url_req   : '/',
            });

            setTimeout(filCat.selectCatalogs(), 0);
        });
    </script>
    <script type="text/javascript" src="/js/site/gallery.js"></script>

    <script>
        let eventSelect = $('.select2-cha');
        let objCh = [
            {
                name: 'weight',
                name_p: 'Вес',
                measure: 'г',

                value: [{col: 12, type: 'input', name: 'weight', name_p: 'Вес, г'}]
            },

            {
                name: 'thickness',
                name_p: 'Толщина',
                measure: 'мм',

                value: [{col: 12, type: 'input', name: 'thickness', name_p: 'Толщина'}]
            },

            {
                name: 'dimensions_length_width',
                name_p: 'Размеры',
                name_d: 'длина/ширина)',
                measure: 'мм',

                value: [
                    {col: 6, type: 'input', name: 'length', name_p: 'Длина'},
                    {col: 6, type: 'input', name: 'width', name_p: 'Ширина'}
                ]
            },

            {
                name: 'color',
                name_p: 'Цвет',
                name_d: '',

                value: [{col: 12, type: 'color', name: 'color', name_p: 'Цвет'}]
            },

            {
                name: 'concentrate_density_m3',
                name_p: 'Плотность концентрата',
                measure: 'г/см³',
                value: [{col: 12, type: 'input', name: 'concentrate_density_m3', name_p: 'Плотность концентрата'}]
            },

            {
                name: 'consumption_m2',
                name_p: 'Расход',
                measure: 'л на м²',
                value: [{col: 12, type: 'input', name: 'consumption_m2', name_p: 'Расход'}]
            }
        ];

        /**
         * init
         */
        function initChas() {
            eventSelect.val(_.map({{# if product.params }}{{{ product.params }}}{{ else }}[]{{/if}},
                    function(v, k) {
                        if(_.find(objCh, {name: k}))
                            _render(_.find(objCh, {name: k}), v);
                        return k;
                    })).trigger("change");
        }

        /**
         * render characteristics
         * @param d0
         * @param val
         * @private
         */
        function _render(d0, val) {
            let t = '';
            val = _.isObject(val) ? val : {};

            t += `<dl><dt style="display: inline-table;">${d0.name_p}:&nbsp;</dt>`;
            t += `<dd style="display: inline-table;">`;

            for(let ii = 0; d0.value.length > ii; ii++) {
                let d = d0.value[ii];

                if(d.type === 'input') {
                    t += ` ${d.name_p} ${val[d.name] || ''}, ${d0.measure}`;
                }

                if(d.type === 'color') {
                    t += ` ${val[d.name] || ''}`;
                }
            }

            t += `</dd>`;
            t += `</dl>`;

            $('.cha-s .cont').append(t);
        }

        initChas(objCh);

        $(document).ready(function() {
            setTimeout(function() {
                $('[data-item="0"]').click();
            }, 0)
        })
    </script>
{{/contentFor}}